<html>
  <head>
    <style>
      .block img {
      padding: 23px;
      width: 50px;
      height: 50px;
      float: left;
      margin: 1px;
      border-radius: 50%;
      }

      .block {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      box-shadow: 2px 2px 2px grey;
      }

            .filter-box {
              display:flex;
            }
            .filter-item {
              flex-grow:1;
            }

            .row:after {
            content: "";
            display: table;
            clear: both;
            }

      .map-img {
        width: 45px;
        height: 45px;
      }
      .title-img{
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
      }
      .card-product {
        overflow: hidden;
        height: 120px;
        background: white;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        margin: 15px;
      }

      .card-product img {
        height: 100%;
        width: 120px;
        object-fit: cover;
      }

      .card-product h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }

      .card-product p {
        font-size: 12px;
        line-height: 1.4;
        opacity: .7;
        margin-bottom: 0;
        margin-top: 8px;
      }

      .card-product .card-product-infos {
        padding: 16px;
      }
    </style>
  </head>
</html>
<div class="container">
  <h1 class="title-img flex-wrap: wrap">
    <img class="map-img" src="https://cdn-icons-png.flaticon.com/512/235/235861.png" />
  </h1>
  <div class="col filter-box" >
    <div class="filter-item m-2 rounded-5 text-center p-3 flex-wrap: wrap btn btn-inline-success" style="background-color:#1EDD88; box-shadow: 2px 2px 2px grey">
      <h2>Cheaper</h2>
    </div>
    <div class="filter-item m-2 rounded-5 text-center p-3 flex-wrap: wrap btn btn-inline-warning" style="background-color:#FFC65A; box-shadow: 2px 2px 2px grey">
      <h2>Closer</h2>
    </div>
  </div>
  <div class="col p-2 m-4 rounded-4 text-center flex-wrap: rounded" style="background-color:#DCDCDC; box-shadow: 2px 2px 2px grey">
    <h4>Select your preference</h4>
  </div>
  <div class="card-product rounded-4 p-3" style="background-color:#DCDCDC; box-shadow: 2px 2px 2px grey">
    <img src="IMAGE URL" style="rounded-4">
    <div class="card-product-infos">
      <p class="fs-5"><strong>Kilometers left</strong></p>
      <h2><strong>Address details</strong></h2>
      <p><strong>CHF 2.02.-</strong></p>
    </div>
  </div>
  <div class="card-product rounded-4 p-3" style="background-color:#DCDCDC; box-shadow: 2px 2px 2px grey">
    <img src="IMAGE URL" style="rounded-4">
    <div class="card-product-infos">
      <p class="fs-5"><strong>Kilometers left</strong></p>
      <h2><strong>Address details</strong></h2>
      <p><strong>CHF 2.02.-</strong></p>
    </div>
  </div>
  <div class="card-product rounded-4 p-3" style="background-color:#DCDCDC; box-shadow: 2px 2px 2px grey">
    <img src="IMAGE URL" style="rounded-4">
    <div class="card-product-infos">
      <p class="fs-5"><strong>Kilometers left</strong></p>
      <h2><strong>Address details</strong></h2>
      <p><strong>CHF 2.02.-</strong></p>
    </div>
  </div>
</div>
