<% markers.each do |m| %>
  <div class="card-product rounded-4 p-3" style="background-color:#DCDCDC; box-shadow: 2px 2px 2px grey">
    <!-- <img src="IMAGE URL" style="rounded-4"> -->
    <div class="card-product-infos">
      <p class="fs-5"><strong><%= m[:name] %></strong></p>
      <h2><strong><%= "#{m[:address]}, #{m[:city]}" %></strong></h2>
      <p> <strong> Gazole: </strong> <%= m[:gazole] %> </p>
      <p> <strong> SP98: </strong> <%= m[:sp98]*1000 %> </p>
    </div>
  </div>
  <p></p>
<% end %>
