<html>
  <head>
    <style>
      /* .block {
      overflow: hidden;
      background: #ffff;
      padding: 1rem;
      margin: 0 0 1rem 0;
      } */
      .block img {
        padding: 5px;
      width: 75px;
      height: 75px;
      float: left;
      margin: 0 1rem 0 0;
      radius: 50%;
      }
      .block h2 {
      margin: 0 0 0.5rem 0;
      }

      .block {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      }
            {
      box-sizing: border-box;
            }

            .column {
            float: left;
            width: 50%;
            }

            .row:after {
            content: "";
            display: table;
            clear: both;
            }

            .img-map {
      width: 45px;
      height: 45px;
            }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="text-center"><img class="img-map" src="https://cdn-icons-png.flaticon.com/512/235/235861.png"></img></div>
    <h1>Around_location:name</h1>
  </div>
  <div class="row m-4">
    <div class="column rounded-5 text-center" style="background-color:#FFB695;">
      <h2>Cheaper</h2>
      <p>blabla</p>
    </div>
    <div class="column rounded-5 text-center" style="background-color:#96D1CD;">
      <h2>Closer</h2>
      <p>blabla</p>
    </div>
    <div class="column-long rounded-4 p-2 m-2 text-center" style="background-color:grey;">
      <h1>Select your preference</h1>
    </div>
  </div>
</div>
</body>
</html>
<div class="row p-5 m-2">
  <div class="block" style="background-color:grey">
    <img src="IMAGE URL" style="rounded-4">
    <div>
      <h2>Kilometers left</h2>
      <p>Address details</p>
    </div>
    <p>CHF 2.02.-</p>
  </div>
  <div class="block" style="background-color:grey">
    <img src="IMAGE URL" style="rounded-4">
    <div>
      <h2>Kilometers left</h2>
      <p>Address details</p>
    </div>
    <p>CHF 2.02.-</p>
  </div>
  <div class="block" style="background-color:grey">
    <img src="IMAGE URL" style="rounded-4">
    <div>
      <h2>Kilometers left</h2>
      <p>Address details</p>
    </div>
    <p>CHF 2.02.-</p>
  </div>
  <div class="block" style="background-color:grey">
    <img src="IMAGE URL" style="rounded-4">
    <div>
      <h2>Kilometers left</h2>
      <p>Address details</p>
    </div>
    <p>CHF 2.02.-</p>
  </div>
  <div class="block" style="background-color:grey">
    <img src="IMAGE URL" style="rounded-4">
    <div>
      <h2>Kilometers left</h2>
      <p>Address details</p>
    </div>
    <p>CHF 2.02.-</p>
  </div>
  <div class="block" style="background-color:grey">
    <img src="IMAGE URL" style="rounded-4">
    <div>
      <h2>Kilometers left</h2>
      <p>Address details</p>
    </div>
    <p>CHF 2.02.-</p>
  </div>
</div>
</div>
