<html>
  <head>
    <style>
      .block img {
      padding: 23px;
      width: 50px;
      height: 50px;
      float: left;
      margin: 1px;
      border-radius: 50%;
      }

      .block {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      box-shadow: 2px 2px 2px grey;
      }

            .filter-box {
              display:flex;
            }
            .filter-item {
              flex-grow:1;
            }

            .row:after {
            content: "";
            display: table;
            clear: both;
            }

      .map-img {
        width: 45px;
        height: 45px;
      }
      .title-img{
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
      }
      .card-product {
        overflow: hidden;
        height: 120px;
        background: white;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        margin: 15px;
      }

      .card-product img {
        height: 100%;
        width: 120px;
        object-fit: cover;
      }

      .card-product h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }

      .card-product p {
        font-size: 12px;
        line-height: 1.4;
        opacity: .7;
        margin-bottom: 0;
        margin-top: 8px;
      }

      .card-product .card-product-infos {
        padding: 16px;
      }
    </style>
  </head>
</html>
<div class="container" style="height: calc(100vh - 290px);">
  <h1 class="text-center mt-3 border-top border-bottom">list of petrol stations</h1>
  <div class="col filter-box d-flex justify-content-center">
    <button type="button" class="btn btn-primary flex-grow-1 me-1" data-toggle="button" aria-pressed="false" autocomplete="off">
      Cheapest
    </button>
    <button type="button" class="btn btn-primary flex-grow-1 me-1" data-toggle="button" aria-pressed="false" autocomplete="off">
      Closest
    </button>
  </div>
  <div class="col p-2 m-4 rounded-4 text-center flex-wrap: rounded" style="background-color:#DCDCDC; box-shadow: 2px 2px 2px grey">
    <h4>Select your preference</h4>
  </div>
  <div id="price">
    <div id="station-list">
      <%= render 'list_stations', markers: markers %>
    </div>
  </div>
</div>
