<div style="width: 100%; height: 85vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="d-flex">
    <p class="m-1 mt-2" style="background: #F96849; width: auto">Bad price</p>
    <p class="m-1 mt-2" style="background: #04FCDB; width: auto">Good price</p>
    <p class="m-1 mt-2" style="background: #1BFC04; width: auto">Best price</p>
</div>
