.sign-background{
  height: 100vh;
  background-image: image-url('station.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-login{
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn{
    width: 100%;
    margin-bottom: 20px;
  }
}
.edit-background{
  height: 100vh;
  margin-bottom: 30px;
  background-image: image-url('station.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}
.radio{
    input[type="radio"] {
    display:none;
  }
  .user_fuel_preference {
    display: flex;
    flex-wrap: wrap;
  }
  label {
    width: 70px;
    text-align: center;
    border: 1px solid #DDD;
    border-radius:5px;
    padding:10px;
    margin-top:10px;
    display:block;
    // position:relative;
    background-color:rgb(144, 144, 144);
  }

  label:hover {
    cursor:pointer;
    background-color:lightblue;
  }

  input[type="radio"]:checked + label {
    background-color:#0d6efd;
  }
}
