<div class="home d-flex align-items-center justify-content-center flex-column ">
  <div class="text-center">
      <h1>Fuel price</h1>
      <h2>find the cheapest petrol station near you</h2>
      <%= link_to "Log-in or Register", new_user_session_path, class:"btn btn-primary"%>
  </div>
</div>
