.bbl-eco-info-icon{
  width: 20px;
  height: 20px;
}

// not used:
.bbl-fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/fuelpump.png');
}

// not used:
.bbl-img-fit{
  object-fit: contain;
  // object-fit: fill;
}

.bbl-img{
  height: 60px;
  width: 60px;
}

.bbl-top-red{
  background-color: red;
}

.bbl-top-green{
  background-color: green;
}

.bbl-down{
  height: 200px;
  overflow-y: scroll;
}
