.location-box {
  margin: 1rem;
  padding: 0.8rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

.location_address {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star-img {
  display: inline;

  img {
    width: 40px;
    height: 40px;
  }
}

// .btn {
//   position: relative;
// }
