<div class="container">
  <div class="text-center">
    <h1>Favorite Locations</h1>
  </div>
  <div class="container" style="height:calc(100vh - 170px); overflow-y: scroll">
    <% @locations.each do | location | %>
      <div class="flex-wrap: wrap; row location-box" style="background-color:#DCDCDC; box-shadow: 2px 2px 2px grey" >
        <div class="location_address">
          <%= location.address %>
          <div class="star-img text-center">
            <button class="btn rounded-4">
            <%= location.name%>  <%= image_tag "star-images.png"%></button>
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center p-2">
        <%= link_to "New Search", stations_path, class: "btn btn-primary rounded-4" %>
      </div>
  </div>
</div>
